.footer-flex-container {
    display: inline-flex;
    color: #b2a3a3;
    background-color: rgb(39, 39, 39);    
    justify-content: center;
    /* box-shadow: 0px 0px 25px rgb(18, 10, 10); */
    position: relative;
    flex-direction: column;
    margin-top: auto;


}

.div-class {
    display: inline-flex;


}

.footer-flex-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: space-between;
    position: relative;

}

.footer-flex-container a {
    text-decoration: none;
}

.footer-flex-container a:visited, .footer-flex-container a:active, .footer-flex-container a:focus, .footer-flex-container a:link{
    text-decoration: none;
    color: inherit;
}

.footer-flex-container div h3 {
    font-size: 20px;
    font-weight: 300;
    color: rgb(230, 229, 227);
    margin-bottom: 20px;
    letter-spacing: 1px;

}

.column-1 {
    flex: 1;
    padding: 10px;
    width: 100px;
    position: relative;
    width: 200px;
    height: 150px;
    margin: 10px;
}

.i {

    display: inline-flex;
    position: left;
    margin-right: 100px;
    padding: 20px;
    margin-left: 20px;
    width: 250px;
}

.contentimg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 50px;
}

.column-2 {
    flex: 1;
    margin: 35px 0px 0px 20px;




}

.column-3 {
    flex: 1;
    margin: 35px 0px 0px 0px;


}

.column-4 {
    flex: 1;
    margin: 35px 0px 0px 0px;
    padding: 25px 0px 0px;



}

.column-4>ul>li {
    display: inline-flex;
    margin: 0.5em;
    font-size: 15px;
    position: relative;

}



.ft-logo {
    margin-right: 0.2em;
    font-size: 1.5em;
}




.under-column {
    justify-content: flex-start;
    margin-top: auto;
}


.under-column>p {
    color: rgb(230, 229, 227);
    text-align: center;
    font-size: 12px;


}

.under-column>hr {
    width: 100%;
    height: 0.5px;
    background-color: rgb(230, 229, 227);
    border: none;
    position: relative;

}
