.menu {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 8px;
    width: 80vw;

    justify-content: space-between;

}

.menu-right-icon-row > a {
    text-decoration: none;
    color: rgb(68, 67, 67);
}

.menu-right-icon-row > a:visited, .menu-right-icon-row > a:active, .menu-right-icon-row > a:focus, .menu-right-icon-row > a:link{
    text-decoration: none;
    color: rgb(68, 67, 67);
}

.menu-left {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.menu-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.icon-container {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 12px;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;   

}

.icon-container:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}


.icon-container:visited, .icon-container:active, .icon-container:focus, .icon-container:link{
    text-decoration: none;
    color: rgb(68, 67, 67);

}

.icon-text {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1em;
}

.menu-right-icon-row {
    gap: 32px;
    margin-left: 24px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}



.menu-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 3;
    justify-content: space-between;
}

.menu-input-icon {
    position: absolute;
    margin-left: 8px;    
}

.menu-input {
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgba(226, 226, 226, 0.506);
    padding-left: 42px;
    padding-right: 16px;
    font-size: 1em;
    font-weight: 500;
    width: 100%;
}

.menu-input:focus {
    outline: none;
}

.menu-divider {
    height: 1px;
    background-color: rgb(214, 214, 214);
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

}
