.menu {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    justify-content: space-between;
}





.menu-left {
    display: flex;
    flex-direction: row;
    gap: 36px;
    width: 100%;
    margin-left: 36px;
    
}


.icon-container {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 12px;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

}

.icon-container:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}


.icon-container:visited, .icon-container:active, .icon-container:focus, .icon-container:link{
    text-decoration: none;
    color:black;

}

.icon-text {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.1em;
}

.menu-right {
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 36px;
    width: 100%;
    justify-content: space-between;
}

.menu-right-icon-row {
    gap: 32px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}

.menu-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 3;
    justify-content: space-between;
}

.menu-input-icon {
    font-size: 24px;
    position: absolute;
    margin-left: 8px;    
}

.menu-input {
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgba(226, 226, 226, 0.506);
    padding-left: 42px;
    padding-right: 16px;
    font-size: 1.1em;
    font-weight: 500;
    width: 100%;
}

.menu-input:focus {
    outline: none;
}

.menu-divider {
    height: 1px;
    background-color: rgb(214, 214, 214);
    margin-left: 36px;
    margin-right: 36px;
}
